<nav class="navbar navbar-dark bg-dark justify-content-between">
  <section class="container">
    <a class="navbar-brand">Navbar</a>
     <div class="col-auto">
          
          <a href="/myacount">login</a>
          
        </div>
</nav>
</section>